[submodule "firmware/angry_cat_pediatric_interviewer/third_party/arduino-audio-driver"]
	path = firmware/angry_cat_pediatric_interviewer/third_party/arduino-audio-driver
	url = https://github.com/pschatzmann/arduino-audio-driver.git
[submodule "firmware/angry_cat_pediatric_interviewer/third_party/arduino-audio-tools"]
	path = firmware/angry_cat_pediatric_interviewer/third_party/arduino-audio-tools
	url = https://github.com/pschatzmann/arduino-audio-tools.git
